xml_tasks/src/main/resources/people.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

    <xs:simpleType name="GenderType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MALE"/>
            <xs:enumeration value="FEMALE"/>
            <xs:enumeration value="UNKNOWN"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Move NameType to top level -->
    <xs:complexType name="NameType">
        <xs:sequence>
            <xs:element name="first" type="xs:string" minOccurs="0"/>
            <xs:element name="last" type="xs:string" minOccurs="0"/>
            <xs:element name="full" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PersonType">
        <xs:sequence>
            <xs:element name="name" type="NameType"/>
            <xs:element name="gender" type="GenderType" minOccurs="0"/>
            <xs:element name="mother" type="xs:IDREF" minOccurs="0"/>
            <xs:element name="father" type="xs:IDREF" minOccurs="0"/>
            <xs:element name="husband" type="xs:IDREF" minOccurs="0"/>
            <xs:element name="wife" type="xs:IDREF" minOccurs="0"/>

            <xs:element name="brothers" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="brother" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="sisters" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="sister" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="sons" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="son" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="daughters" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="daughter" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>

        <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>

    <xs:element name="people">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="person" type="PersonType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="count" type="xs:int" use="required"/>
        </xs:complexType>
    </xs:element>

</xs:schema>